body {
    position: relative;
    margin: 0;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bg-image {
    width: 100%;
    image-rendering: pixelated;
}

.whale {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.whale-img {
    image-rendering: pixelated;
}
.smoke-mask {
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 1px solid red;
}
.smoke {
    position: absolute;
}